<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
<th:block layout:fragment="content">
    <div class="container">
        <h3>Konverter um Yaml-Definitionen in Shell-Environment Syntax zu konvertieren</h3>
        <p>
            <a href="#" th:href="@{converter}" class="btn btn-large btn-success">Start Konverter</a>
        </p>
    </div>
</th:block>
</body>

</html>
