<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    Version: <span class=".text-muted" th:text="#{project.version}"></span>
</div>
</body>
</html>

