<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header">

    <nav class="navbar navbar-light navbar-expand-sm bg-light">
        <div class="container">
            <a class="navbar-brand" href="/" th:href="@{/}">Yaml2env</a>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/about" th:href="@{/about}">about</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>
